<!DOCTYPE html>
<html>
<head>
    <title>FlaskApp</title>
    <meta charset="utf-8">
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% include 'include/navbar.html' %}
    <div class="container">
        {% include 'include/messages.html' %}
        {% block content %}
        
        {% endblock content %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>